* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}
body {
  height: 100%;
}

body {
  background-color: rgb(19, 18, 18);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.addTaskBtn {
  width: 80px;
  height: 35px;
  margin: 0 auto;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 12px;
  background-color: rgba(147, 121, 231, 0.685);
  transition: all 0.2s;
}
.addTaskBtn:hover {
  background-color: rgba(135, 111, 212, 0.632);
}

.loading {
  display: flex;
  align-items: center;
  color: white;
  margin: -10px 0;
  font-size: 0.8rem;
  min-height: 20px;
  animation: pop 0.3s ease-in-out;
}

@keyframes pop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
