.addTaskForm > div {
  display: flex;
  color: rgb(192, 192, 192);
  /* color: black; */
  font-weight: 500;
  flex-direction: column;
  gap: 10px;
}

.addTaskForm > div:nth-child(1) {
  margin-top: 10px;
}

.addTaskForm > div:nth-child(2) {
  margin-top: 10px;
}

.addTaskForm > div > input {
  background-color: rgba(0, 15, 69, 0.474);
  color: white;
}

.addTaskForm > div > textarea {
  outline: none;
  height: 100px;
  resize: none;
  opacity: 0.5;
  background-color: rgba(0, 15, 69, 0.474);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
}
